<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soap"/>
        <binding name="soap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://smartsociety.riteshtailor.in/Admin.svc/soap" binding="basicHttpBinding" bindingConfiguration="soap" contract="SSAPIAdmin.IAdmin" name="soap"/>
      <endpoint address="http://smartsociety.riteshtailor.in/General.svc/soap" binding="basicHttpBinding" bindingConfiguration="soap1" contract="SSAPIGen.IGeneral" name="soap1"/>
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" proxyaddress="http://localhost" bypassonlocal="True"/>
      <bypasslist>
        <add address="[a-z]+\.riteshtailor\.com"/>
      </bypasslist>
    </defaultProxy>
  </system.net>
</configuration>